<a data-flickr-embed="true" href="https://www.flickr.com/photos/rcedwards/albums/72157711891283296" title="Vietnam"><img src="https://live.staticflickr.com/65535/49106269301_882e74ff49_m.jpg" width="240" height="160" alt="Vietnam"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>

<br />
<br />

<a data-flickr-embed="true" href="https://www.flickr.com/photos/rcedwards/albums/72157711891460857" title="Chicago"><img src="https://live.staticflickr.com/65535/49105463493_2bbc3708e0_m.jpg" width="240" height="160" alt="Chicago"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>