<style type="text/css" media="screen">
  .gr_grid_container {
    /* customize grid container div here. eg: width: 500px; */
  }

  .gr_grid_book_container {
    /* customize book cover container div here */
    float: left;
    width: 106px;
    height: 160px;
    padding: 0px 7px;
    overflow: hidden;
  }
</style>
<div id="gr_grid_widget_1575250983">
  <!-- Show static html as a placeholder in case js is not enabled - javascript include will override this if things work -->
  <div class="gr_grid_container">
    <div class="gr_grid_book_container"><a title="Born a Crime: Stories from a South African Childhood" rel="nofollow" href="https://www.goodreads.com/book/show/31948742-born-a-crime"><img alt="Born a Crime: Stories from a South African Childhood" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1473694081l/31948742._SX98_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Of Mice and Men" rel="nofollow" href="https://www.goodreads.com/book/show/890.Of_Mice_and_Men"><img alt="Of Mice and Men" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1511302904l/890._SX98_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Talking to Strangers: What We Should Know about the People We Don't Know" rel="nofollow" href="https://www.goodreads.com/book/show/43848929-talking-to-strangers"><img alt="Talking to Strangers: What We Should Know about the People We Don't Know" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1549393502l/43848929._SX98_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Small Fry" rel="nofollow" href="https://www.goodreads.com/book/show/39218044-small-fry"><img alt="Small Fry" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1524765986l/39218044._SX98_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="The Majors" rel="nofollow" href="https://www.goodreads.com/book/show/75648.The_Majors"><img alt="The Majors" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1349099519l/75648._SX98_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="The Nickel Boys" rel="nofollow" href="https://www.goodreads.com/book/show/42270835-the-nickel-boys"><img alt="The Nickel Boys" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1539178196l/42270835._SX98_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Educated" rel="nofollow" href="https://www.goodreads.com/book/show/35133922-educated"><img alt="Educated" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1506026635l/35133922._SX98_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Washington Black" rel="nofollow" href="https://www.goodreads.com/book/show/38140077-washington-black"><img alt="Washington Black" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1558478576l/38140077._SX98_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Travels with Charley: In Search of America" rel="nofollow" href="https://www.goodreads.com/book/show/5306.Travels_with_Charley"><img alt="Travels with Charley: In Search of America" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1386924381l/5306._SX98_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="The Feather Thief: Beauty, Obsession, and the Natural History Heist of the Century" rel="nofollow" href="https://www.goodreads.com/book/show/35901186-the-feather-thief"><img alt="The Feather Thief: Beauty, Obsession, and the Natural History Heist of the Century" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1501696324l/35901186._SX98_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Fun Home: A Family Tragicomic" rel="nofollow" href="https://www.goodreads.com/book/show/26135825-fun-home"><img alt="Fun Home: A Family Tragicomic" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1440097020l/26135825._SX98_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Tiger Woods" rel="nofollow" href="https://www.goodreads.com/book/show/38096943-tiger-woods"><img alt="Tiger Woods" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1516323993l/38096943._SX98_.jpg" /></a></div>
    <noscript><br/>Share <a rel="nofollow" href="/">book reviews</a> and ratings with Robert, and even join a <a rel="nofollow" href="/group">book club</a> on Goodreads.</noscript>
  </div>

</div>
<script src="https://www.goodreads.com/review/grid_widget/53323855.Robert's%20bookshelf:%20read?cover_size=medium&hide_link=true&hide_title=true&num_books=12&order=d&shelf=read&sort=date_read&widget_id=1575250983" type="text/javascript" charset="utf-8"></script>
